/* 该文件运用于用vue改写的商品模块 */
.main-panel > .content {
  padding: 0 !important;
}
.main-panel {
  margin-top: 42px;
}
#app {
  padding-bottom: 40px;
}
.rightlist #app .rightlist-head {
  line-height: 50px;
  padding: 0 0 15px 0;
}
/* .rightlist #app .rightlist-head{line-height:50px;padding:15px 0;} */
.rightlist {
  background: #f5f5f5;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.rightlist #app .el-breadcrumb {
  padding: 30px 0;
  font-size: 14px;
}
.second-list {
  background: #fff;
  border-radius: 10px;
  position: relative;
  top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  width: calc(100% - 20px);
  height: 100%;
}
.third-list {
  background: #f5f5f5;
  border-radius: 10px;
  position: relative;
  top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: calc(100% - 20px);
  padding-bottom: 10px;
}

.form-list {
  padding-top: 30px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  top: 10px;
  margin-left: 10px;
  width: calc(100% - 20px);
}
.table-list {
  padding-top: 30px;
  background: #fff;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 10px;
  width: calc(100% - 20px);
}
.table-option a {
  font-size: 12px;
  font-weight: 600;
  color: #29ba9c;
  padding: 10px 0;
}
/* .el-form-item__label{padding-right:30px;} */
.tip {
  font-size: 12px;
  color: #999;
  font-weight: 500;
  line-height: 24px;
}
.rightlist-head-con {
  padding-right: 20px;
  font-size: 16px;
  color: #888;
}
/* .rightlist-head-con{float:left;padding-right:20px;font-size:16px;color:#888;} */
.el-tag {
  /* font-weight: 700;
  font-size: 15px;
  margin-bottom: 30px; */
}
/* 单选框边框颜色 */
/* .el-radio__inner{
  border: 1px solid #c8cede;
} */
.el-icon-edit {
  font-size: 16px;
  padding: 0 15px;
  color: #29ba9c;
  cursor: pointer;
}
/* 滑块选择小白点 */
.el-switch.is-checked .el-switch__core::after {
  left: 100%;
  margin-left: -17px;
}
.el-switch__core::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 100%;
  transition: all 0.3s;
  width: 16px;
  height: 16px;
  background-color: #fff;
}

.el-checkbox__label {
  display: inline-block;
  padding-left: 3px;
}
.el-checkbox.is-bordered + .el-checkbox.is-bordered {
  margin-left: 0px;
}
.edit-i {
  display: none;
}
.el-table_1_column_3:hover .edit-i {
  font-weight: 900;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.el-table_1_column_5:hover .edit-i {
  font-weight: 900;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.el-table_1_column_6:hover .edit-i {
  font-weight: 900;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.el-table_1_column_7:hover .edit-i {
  font-weight: 900;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.vue-page {
  border-radius: 5px;
  width: calc(100% - 266px);
  float: right;
  margin-right: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px 5% 15px 0;
  background: #fff;
  height: 60px;
  z-index: 999;
  margin-top: 0;
  box-shadow: 0 2px 9px rgba(51, 51, 51, 0.1);
}
.vue-center {
  text-align: center;
}
.loading-height {
  height: 500px;
}
.el-checkbox.is-bordered.el-checkbox--mini {
  margin: 0 0;
}
[v-cloak] {
  display: none;
}

.all {
  background: #f5f5f5;
  min-height: 100vh;
  padding-top: 20px;
}
.vue-main {
  background: #fff;
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px;
  min-height: calc(100vh - 90px);
}
.vue-nav {
  background: #fff;
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px;
}
.vue-head {
  background: #fff;
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px;
  margin-bottom: 15px;
}
.vue-main-title {
  display: flex;
  margin:5px 0;
  line-height: 32px;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.vue-main-title-left {
  width: 4px;
  height: 18px;
  margin-top:6px;
  background: #29ba9c;
  display: inline-block;
  margin-right: 10px;
}
.vue-main-title-content {
  font-size: 14px;
  flex: 1;
}
.vue-main-title-button {
  text-align: right;
}
.vue-main-form {
  margin-top: 20px;
}
.vue-category-title {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 15px;
}
.el-link-edit {
  border-right: 1px solid;
  line-height: 16px;
}
.el-link-edit-start {
  border-right: 1px solid;
  padding-right: 20px;
  line-height: 16px;
}
.el-link-edit-middle {
  border-right: 1px solid;
  padding: 0 20px;
  line-height: 16px;
}
.el-link-edit-end {
  border-right: 0px;
  padding-left: 20px;
  line-height: 16px;
}

/* 上传图片 */
.avatar-uploader .el-upload {
  margin-top: 15px;
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #29ba9c;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}

.avatar_box {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
.avatar {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.el-upload-tip {
  width: 178px;
  margin: 0;
  padding: 0;
  color: #999;
  text-align: center;
}
input[type="file"] {
  display: none;
}
.avatar-uploader-box {
  position: relative;
  margin-top: 20px;
  width: 200px;
}
.el-icon-circle-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #999;
}
/*弹窗上传图片*/
#upload-img {
}
#upload-img .avatar {
  width: 100px;
  height: 100px;
  display: block;
}
#upload-img .avatar-uploader-box {
  position: relative;
  margin: 20px 0 0 10px;
  width: 110px;
}
#upload-img .el-icon-circle-close {
  position: absolute;
  top: -7px;
  right: 1px;
  color: #999;
}

.imgList {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}
/* 辅助色 */
.vue-assist-color,
.el-link-assist,
.el-link:hover {
  color: #ff9b19 !important;
}

/* 选中及未选图片样式 */
.upload-box:hover {
  border-color: #29ba9c;
  color: #29ba9c;
}
.upload-box {
  width: 150px;
  height: 150px;
  display: flex;
  cursor: pointer;
  border: 1px dashed #dde2ee;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.upload-boxed {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 5px;
}
.upload-boxed-text {
  position: absolute;
  bottom: 0;
  line-height: 32px;
  color: #fff;
  text-align: center;
  width: 100%;
  background: #000;
  opacity: 0.7;
  border-radius: 0px 0px 5px 5px;
}
.upload-boxed-list {
  display: flex;
  position: relative;
  border-radius: 5px;
  flex-wrap: wrap;
}
.upload-boxed-list-a {
  width:150px;
  height:150px;
  margin:0 10px 5px 0;
  position: relative;


}
.upload-boxed-list-a .el-icon-close {
  position: absolute;
  top: -5px;
  right: -5px;
  color: #fff;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
}

.vue-crumbs a {
  color: #333;
}
.vue-crumbs a:hover {
  color: #29ba9c;
}
.vue-crumbs {
  margin: 0 20px;
  font-size: 14px;
  color: #333;
  font-weight: 400;
  padding-bottom: 10px;
  line-height: 32px;
}
.vue-main-title-content a {
  color: #333;
}
.vue-main-title-content a:hover {
  color: #29ba9c;
}
.vue-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.upload-boxed .el-icon-close {
  position: absolute;
  top: -5px;
  right: -5px;
  color: #fff;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
}

.type-tabs {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  line-height: 1;
}