.a-btn {
    border-radius: 2px;
    padding: 8px 12px;
    box-sizing: border-box;
    color: #666;
    font-weight: 500;
    text-align: center;
    margin-left: 1%;
    background-color: #fff;
}
.a-btn:hover{
    background-color: #29BA9C;
    color: #FFF;
    border-radius: 5px;
}
.tabs-div {
    background: #fff;
    padding: 13px 0;
    margin-left: 10px;
    cursor: pointer;
    border-radius:10px;
}
.a-colour2 {
    background-color: #29BA9C;
    color: #FFF;
    border-radius: 5px;
}